* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section {
    width: 100%;
    max-width: 1200px;
    margin: 32px auto;
    padding: 100px 100px;
}

section h1 {
    margin: 0px 0px 150px;
}
h1 {
    font-family: Arial, sans-serif;
    font-size: 36px;
    color: #333;
    text-align: center;
}

h3, h4 {
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: #333;
    margin-top: 20px;
}

.product {
    min-height: 128px;
}

.product-image {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    float: left;
}

p {
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #666;
    line-height: 1.5;
    margin-bottom: 12px;
}

button {
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #fff;
    background-color: #f60;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 32px 0px;
}

button:hover {
    background-color: #e50;
}


#imgBemVindo {
    max-width: 100%;
    height: 150px;
    object-fit: cover;
}

.carousel {
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
}

.carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.carousel img.active {
    opacity: 1;
}

.carousel .prev,
.carousel .next {
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 50%;
    color: #fff;
    font-size: 24px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.carousel .prev {
    left: 20px;
}

.carousel .next {
    right: 20px;
}

.carousel .dots {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
}

.carousel .dots span {
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
}

.carousel .dots span.active {
    background-color: #f60;
}

p a {
    text-decoration: underline;
    font-weight: bold;
}


@media screen and (max-width: 450px){
    .section {
        padding: 30px 30px;
    }
    #imgBemVindo {
        max-width: 100%;
        height: 100px;
        object-fit: cover;
    }
}
